@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #E5E5E5;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  border: none;
  cursor: pointer;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

}

.button-type-1:hover {
  background-color: #615048;

}

.button-type-2:hover {
  background-color: #68A2CA;
}

.button-type-3:hover {
  background-color: #6C9E42;
}

/*состояние disabled только для форм! */
.newsletter-button:disabled,
.accept-button:disabled {
  background-color: #E5E5E5;
}

.button-type-1:active,
.button-type-2:active,
.button-type-3:active {
  color: rgba(255, 255, 255, 0.3);
}


.button-type-1:focus {
  background-color: #615048;
  outline: none;

}

.button-type-2:focus {
  background-color: #68A2CA;
  outline: none;
}

.button-type-3:focus {
  background-color: #6C9E42;
  outline: none;
}



/* Шапка - index, catalog */

.main-header {
  background-color: var(--background-color);
}

.navigation {
  display: flex;
  width: 1200px;
  min-height: 70px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  width: 391px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.item-favorites {
  position:relative
}

.item-favorites::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 100%;
  content: "12";
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 13px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #7DB54F;
  z-index: 2;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px 19px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: var(--background-color);
  text-decoration: none;
}

.navigation-link-current-page::before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user .navigation-link {
  padding: 0;
  min-width: 42px;
}

.navigation-user.navigation-user {
  padding-bottom: 5px;
}

.navigation-button {
  display: block;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  min-height: 37px;
  width: 160px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v1);
  border-radius: 4px;
}

.main-header-logo {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-left: 70px;
  margin-right: 30px;
  width: 139px;
  z-index: 1;
}

/* Приветственное изображение SEDONA - index */

.welcome-picture {
  position: relative;
  display: flex;
  color: #000000;
  background-color: var(--background-color);
  background-image: url("../images/index/background-welcome.jpg");
  background-repeat: no-repeat;
  width: 1200px;
}

.welcome-picture-text {
  display: block;
  margin: 51px auto 82px;

}

.welcome-hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 63px;
  background-color: var(--background-color);
}

.welcome-hero-title {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  width: 620px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.welcome-hero-subtitle {
  margin: 0;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.divider-pic {
  position: absolute;
  bottom: 0;
}

/* Сектор "Преимущества" - index */

.advantage-true-city,
.advantage-devils-bridge {
  display: flex;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
}

.advantage-devils-bridge {
  flex-direction: row-reverse;
}

.advantage-devils-bridge-wrapper,
.advantage-true-city-wrapper {
  display: flex;
  flex-direction: column;
  padding: 92px 80px 0 80px;
  margin: 0;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantage-true-city-title,
.advantage-devils-bridge-title {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage-true-city-number,
.advantage-devils-bridge-number {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.advantage-true-city-subtitle,
.advantage-devils-bridge-subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 92px;
}

.advantages-accommodation-food-souvenir-list,
.advantages-square-road-tourists-list {
  display: flex;
  justify-content: space-between;
}


.advantages-accommodation-food-souvenir-item,
.advantages-square-road-tourists-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 384px;
  padding: 0 85px;
  position: relative;
}

.accommodation-svg {
  background-repeat: no-repeat;
  position: absolute;
  top: 82px;
  right: 0;
  left: 0;
  margin: auto;
}

.food-svg {
  background-repeat: no-repeat;
  position: absolute;
  fill:#83B3D3;
  top: 81px;
  right: 0;
  left: 0;
  margin: auto;
  }

.souvenir-svg {
  background-repeat: no-repeat;
  position: absolute;
  top: 79px;
  right: 0;
  left: 0;
  margin: auto;
}



.advantages-accommodation-food-souvenir,
.advantages-square-road-tourists {
  font-weight: 400;
  text-align: center;
}

.advantages-accommodation-food-souvenir-title,
.advantages-square-road-tourists-title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-accommodation-food-souvenir-title {
  margin-top: 182px;
  margin-bottom: 30px;
}

.advantages-square-road-tourists-title {
  margin-top: 103px;
  margin-bottom: 30px;
}

.advantages-accommodation-food-souvenir-subtitle {
  margin: 0;
  margin-bottom: 32px;
}

.advantages-square-road-tourists-subtitle {
  margin: 0;
  margin-bottom: 102px;
}

.advantages-square-road-tourists-number {
  margin: 0;
  margin-bottom: 30px;
}

.advantages-accommodation-food-souvenir-item:nth-child(2) {
  background-color: var(--background-color);
}

.advantages-accommodation-food-souvenir-item:first-child,
.advantages-accommodation-food-souvenir-item:last-child,
.advantages-square-road-tourists-item:first-child,
.advantages-square-road-tourists-item:last-child {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-square-road-tourists-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Сектор "Поиск гостиниц в седоне" - index */

.accommodation-search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 91px 0 93px;
  text-align: center;
  background-color: var(--background-color);
  width: 100%;
}

.accommodation-search-title {
  margin: 0;
  margin-bottom: 29px;
  width: 297px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.accommodation-search-subtitle {
  margin: 0;
  margin-bottom: 56px;
  width: 592px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.accommodation-search-button {
  margin: 0;
  padding: 0;
  width: 574px;
  min-height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v1);
  border-radius: 4px;
}

/* Сектор "подписка" - index */

.subscription {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 94px 0 94px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index/background-index.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

.subscription-title {
  margin: 0;
  margin-bottom: 29px;
  width: 404px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-subtitle {
  margin: 0;
  margin-bottom: 46px;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter-form {
  display: flex;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v2);
  min-width: 200px;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #F2F2F2;
  border: none;
}

/* Футтер - index, catalog*/

.footer {
  color: #000000;
  background-color: var(--background-color);
}

.footer-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-contacts-phone {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  background-color: var(--background-color);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
}

.social-media {
  fill: #83B3D3;
}

.social-media:hover {
  fill: #68A2CA;
}

.social-media:focus {
  fill: #68A2CA;
}

.social-media:active {
  fill: rgba(104, 162, 202, 0.3);
}


.footer-contacts-phone {
  width: 720px;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 115px;
}

.html-logo {
  fill: #000000;
}

.html-logo:hover {
  fill: #756157;
}

.html-logo:focus {
  fill: #756157;
}
.html-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

/* Секция с фильтрами - catalog */

.filters-section {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/catalog/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 70px;
  padding-top: 35px;
  margin: 0;
  margin-bottom: 55px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* Хлебные крошки -catalog */

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
  color: #ffffff;
}

.breadcrumbs-link {
  display: block;
  margin-right: 10px;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.breadcrumbs-arrow-icon {
  margin-right: 10px;
}

.breadcrumbs-home-icon,
.breadcrumbs-arrow-icon {
  fill: #ffffff;
}

.breadcrumbs-home-icon:hover,
.breadcrumbs-link:hover {
  fill: rgba(255, 255, 255, 0.6);
  color:rgba(255, 255, 255, 0.6);
}

.breadcrumbs-home-icon:active,
.breadcrumbs-link:active {
  fill: rgba(255, 255, 255, 0.3);
  color:rgba(255, 255, 255, 0.3);
}


.filters-wrapper {
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  margin-right: 175px;
}

.catalog-filter-group:first-child {
  margin-right: 70px;
}

.control-input {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.filter-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-left: 70px;
}

.accept-button {
  min-width: 160px;
  padding: 14px 15px;
}

.accept-button,
.accomodation-card-favorites-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v2);
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  text-transform: none;
}

.catalog-sorter-wrapper {
  display: flex;
  margin-bottom: 56px;
  padding-left: 72px;
  padding-right: 71px;
  background-color: var(--background-color);
}

.catalog-actual-filtration-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 191px;
  min-width: 338px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.actual-toggle {
  border: 2px solid #000000;
}

.card-grid-toggle:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.card-grid-toggle:hover {
  border: 2px solid #000000;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
}


.card-grid-toggle:last-child {
  margin: 0;
}

.select-control {
  margin: 0;
  padding: 0;
  margin-right: 78px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 290px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}



/* Секция с гостиницами - catalog */

.accommodation-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  justify-content: center;
  background-color: var(--background-color);
}

.accommodation-reset-margin.accommodation-reset-margin {
  margin-bottom: 96px;
}

.accommodation-card {
  display: grid;
  padding: 20px;
  grid-template-columns: 140px 140px;
  grid-template-rows: min-content min-content min-content min-content;
  column-gap: 20px;
  row-gap: 16px;
  background-color: var(--background-color);
}

.acommodation-card-image {
  object-fit: contain;
  max-width: 100%;
}

.acommodation-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  background-color: var(--background-color);
}

.accommodation-card-link {
  display: grid;
  row-gap: 16px;
  grid-column: 1/-1;
  text-decoration-line: none;
}

.accomodation-card-favorites-button-selected {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v3);
  text-align: center;
  min-height: 37px;
}

.accommodation-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v1);
  min-height: 37px;
  }

.rating-area-two {
  background-image: url("/images/icons/icon-star.svg");
  width: 42px;
  height: 17px;
  background-repeat: space;
  margin-top: 10px;
}

.rating-area-three {
  background-image: url("/images/icons/icon-star.svg");
  width: 66px;
  height: 17px;
  background-repeat: space;
  margin-top: 10px;
}

.rating-area-four {
  background-image: url("/images/icons/icon-star.svg");
  width: 88px;
  height: 17px;
  background-repeat: space;
  margin-top: 10px;
}

.accommodation-actual-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  text-transform: uppercase;
  min-height: 37px;
}

/* Паггинация под гостиницами - catalog */

.pagination-wrapper {
  display: flex;
  position: relative;
  padding: 0;
  margin-left: 73px;
  margin-right: 71px;
  margin-bottom: 25px;
  background-color: var(--background-color);
}

.pagination-wrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  top: -30px;
  border-top: 1px solid #E6E6E6;
}


.pagination {
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 23px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link:last-child {
  padding-left: 18px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.accommodation-on-page-form {
  margin-left: auto;
  align-self: center;
}

/* Секция подписки - catalog */

.subscription-catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 94px 0 94px;
  text-align: center;
  color: #000000;
  background-color: var(--background-color);
  width: 100%;
}

.subscription-title-catalog {
  margin: 0;
  margin-bottom: 29px;
  width: 404px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-subtitle-catalog {
  margin: 0;
  margin-bottom: 46px;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.index-container,
.catalog-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--background-color);
}

.main-container {
  flex-grow: 1;
  position: relative;
  top: -5px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  margin: 0;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --background-color: #ffffff;
  --Background-color-button-v1: #756157;
  --Background-color-button-v2: #82B3D3;
  --Background-color-button-v3:  #7DB54F;
}
