@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #E5E5E5;
}

.button {
  font-family: inherit;
  text-align: center;
  border: none;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

/* Шапка - index, catalog */

.main-header {
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  list-style: none;
  width: 500px;
}

.navigation-user {
  margin: 0;
  margin-right: 70px;
  margin-left: auto;
  padding: 0;
  list-style: none;
  width: 300px;

}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
}

.main-header-logo {
  display: block;
  margin: 0 auto;
  margin-left: 70px;
  width: 139px;
}

/* Приветственное изображение SEDONA - index */

.welcome-picture {
  display: flex;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index/background-welcome.jpg");
  background-repeat: no-repeat;
  width: 1200px;
}

.welcome-picture-text {
  display: block;
  margin: 0 auto;
  margin-right: 371px;
}

.welcome-hero {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.welcome-hero-title {
  margin: 0;
  margin-right: 290px;
  margin-left: 290px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.welcome-hero-subtitle {
  margin: 0;
  margin-right: 273px;
  margin-left: 273px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

/* Сектор "Преимущества" - index */

.advantage-true-city,
.advantage-devils-bridge {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1200px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantage-devils-bridge-wrapper,
.advantage-true-city-wrapper {
  margin: 0;
  margin-left: 85px;
  margin-right: 85px;
  width: 230px;
  padding: 0;
}

.advantage-true-city-title,
.advantage-devils-bridge-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-accommodation-food-souvenir-list,
.advantages-square-road-tourists-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-accommodation-food-souvenir-item,
.advantages-square-road-tourists-item {
  width: 400px;
  margin: 0 auto;
}

.advantages-accommodation-food-souvenir,
.advantages-square-road-tourists {
  font-weight: 400;
  text-align: center;
}

.advantages-accommodation-food-souvenir-title,
.advantages-square-road-tourists-title {
  margin: 0;
  padding: 0;
  margin-left: 85px;
  margin-right: 85px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-accommodation-food-souvenir-subtitle,
.advantages-square-road-tourists-subtitle .advantages-accommodation-food-souvenir-number,
.advantages-square-road-tourists-number {
  margin: 0;
  margin-left: 85px;
  margin-right: 85px;
}

.advantages-accommodation-food-souvenir-item:nth-child(2) {
  background-color: #ffffff;
}

.advantages-accommodation-food-souvenir-item:first-child,
.advantages-accommodation-food-souvenir-item:last-child,
.advantages-square-road-tourists-item:first-child,
.advantages-square-road-tourists-item:last-child {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-square-road-tourists-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Сектор "Поиск гостиниц в седоне" - index */

.accommodation-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.accommodation-search {
  text-align: center;
  background-color: #ffffff;
  width: 100%;
}

.accommodation-search-title {
  margin: 0;
  margin-left: 452px;
  width: 297px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.accommodation-search-subtitle {
  margin: 0;
  margin-left: 304px;
  width: 592px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.accommodation-search-button {
  margin: 0;
  padding: 0;
  margin-left: 313px;
  margin-right: 313px;
  width: 574px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
}

/* Сектор "подписка" - index */

.subscription-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.subscription {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index/background-index.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

.subscription-title {
  margin: 0;
  margin-left: 398px;
  width: 404px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-subtitle {
  margin: 0;
  margin-left: 362px;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #F2F2F2;
  border: none;
}

/* Футтер - index, catalog*/

.footer {
  color: #000000;
  background-color: #ffffff;
}

.footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-contacts-phone {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.social-icons {
  text-decoration-line: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.footer-social {
  width: 142px;
  margin-right: 41px;
  margin-left: 70px;
}

.footer-social-item {
  list-style: none;
}

.footer-contacts {
  width: 720px;
}

.footer-logo {
  width: 115px;
  margin-left: auto;
  margin-right: 70px;
}

/* Секция с фильтрами - catalog */

.filters-section {
  display: flex;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/catalog/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-left: 70px;
  padding-right: 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* Хлебные крошки -catalog */

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.control-input {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.accept-button,
.accomodation-card-favorites-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
  text-transform: none;
}

.catalog-actual-filtration-quantity {
  margin: 0;
  padding-left: 72px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.select-control {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 290px;
}

.catalog-sorter-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Секция с гостиницами - catalog */

.accommodation-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.accommodation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-left: 73px;
  margin-right: 71px;
  padding: 0;
  background-color: #ffffff;
  list-style: none;
}

.accommodation-card {
  margin: 0;
  padding: 20px;
}

.accommodation-card-link {
  text-decoration-line: none;
  color: #000000;
  background-color: #ffffff;
}

.accomodation-card-favorites-button-selected {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #7DB54F;
  text-align: center;
}

.accommodation-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
}

.accommodation-actual-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  text-align: center;
  text-transform: uppercase;
}

/* Паггинация под гостиницами - catalog */

.pagination-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  /* padding-left: 73px;
  padding-right: 71px; */
  list-style: none;
  width: 400px;
}

.pagination-item {
  width: 60px;
  margin: 0;
  margin-right: 8px;
  padding: 0;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

/* Секция подписки - catalog */

.subscription-catalog-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.subscription-catalog {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  width: 100%;
}

.subscription-title-catalog {
  margin: 0;
  margin-left: 398px;
  width: 404px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-subtitle-catalog {
  margin: 0;
  margin-left: 362px;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.index-container,
.catalog-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  /* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px; */
  margin: 0;
  /* border: 0; */
  padding: 0;
  /* white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; */
}
