@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #E5E5E5;
}

.button {
  font-family: inherit;
  text-align: center;
  border: none;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

/* Шапка - index, catalog */

.main-header {
  background-color: var(--background-color);
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;

}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: auto;
  padding: 14px;
  width: 391px;
}

.navigation-link {
  display: block;
  padding: 20px 17px 19px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: var(--background-color);
  text-decoration: none;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-button {
  display: block;
  padding: 0;
  margin-top: 14px;
  min-height: 37px;
  width: 160px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v1);
  border-radius: 4px;
}

.main-header-logo {
  display: block;
  margin: 0 auto;
  margin-left: 70px;
  margin-right: 30px;
  width: 139px;
}

/* Приветственное изображение SEDONA - index */

.welcome-picture {
  display: flex;
  color: #000000;
  background-color: var(--background-color);
  background-image: url("../images/index/background-welcome.jpg");
  background-repeat: no-repeat;
  width: 1200px;
}

.welcome-picture-text {
  display: block;
  margin: 51px auto 82px;

}

.welcome-hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 63px;
  background-color: var(--background-color);
}

.welcome-hero-title {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  width: 620px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.welcome-hero-subtitle {
  margin: 0;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

/* Сектор "Преимущества" - index */

.advantage-true-city,
.advantage-devils-bridge {
  display: flex;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
}

.advantage-devils-bridge {
  flex-direction: row-reverse;
}

.advantage-devils-bridge-wrapper,
.advantage-true-city-wrapper {
  display: flex;
  flex-direction: column;
  padding: 92px 80px 0 80px;
  margin: 0;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantage-true-city-title,
.advantage-devils-bridge-title {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage-true-city-number,
.advantage-devils-bridge-number {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.advantage-true-city-subtitle,
.advantage-devils-bridge-subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 92px;
}

.advantages-accommodation-food-souvenir-list,
.advantages-square-road-tourists-list {
  display: flex;
  justify-content: space-between;
}

.advantages-accommodation-food-souvenir-item,
.advantages-square-road-tourists-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 400px;
  padding: 0 85px;
}

.advantages-accommodation-food-souvenir,
.advantages-square-road-tourists {
  font-weight: 400;
  text-align: center;
}

.advantages-accommodation-food-souvenir-title,
.advantages-square-road-tourists-title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-accommodation-food-souvenir-title {
  margin-top: 182px;
  margin-bottom: 30px;
}

.advantages-square-road-tourists-title {
  margin-top: 103px;
  margin-bottom: 30px;
}


.advantages-accommodation-food-souvenir-subtitle {
  margin: 0;
  margin-bottom: 32px;
}

.advantages-square-road-tourists-subtitle {
  margin: 0;
  margin-bottom: 102px;
}

.advantages-square-road-tourists-number {
  margin: 0;
  margin-bottom: 30px;
}

.advantages-accommodation-food-souvenir-item:nth-child(2) {
  background-color: var(--background-color);
}

.advantages-accommodation-food-souvenir-item:first-child,
.advantages-accommodation-food-souvenir-item:last-child,
.advantages-square-road-tourists-item:first-child,
.advantages-square-road-tourists-item:last-child {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-square-road-tourists-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Сектор "Поиск гостиниц в седоне" - index */

.accommodation-search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 91px 0 93px;
  text-align: center;
  background-color: var(--background-color);
  width: 100%;
}

.accommodation-search-title {
  margin: 0;
  margin-bottom: 29px;
  width: 297px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.accommodation-search-subtitle {
  margin: 0;
  margin-bottom: 56px;
  width: 592px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.accommodation-search-button {
  margin: 0;
  padding: 0;
  width: 574px;
  min-height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v1);
  border-radius: 4px;
}

/* Сектор "подписка" - index */

.subscription {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 94px 0 94px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index/background-index.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

.subscription-title {
  margin: 0;
  margin-bottom: 29px;
  width: 404px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-subtitle {
  margin: 0;
  margin-bottom: 46px;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v2);
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #F2F2F2;
  border: none;
}

/* Футтер - index, catalog*/

.footer {
  color: #000000;
  background-color: var(--background-color);
}

.footer-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-contacts-phone {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  background-color: var(--background-color);
}

.social-icons {
  text-decoration-line: none;
  text-align: center;
  color: #000000;
  background-color: var(--background-color);
}

.footer-social {
  width: 142px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 24px;
  height: 15px;
  margin-right: 26px;
  margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}


.footer-contacts {
  width: 720px;
}

.footer-logo {
  width: 115px;
}

/* Секция с фильтрами - catalog */

.filters-section {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/catalog/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 70px;
  padding-top: 35px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* Хлебные крошки -catalog */

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
  color: #ffffff;
}

.breadcrumbs-link {
  margin-right: 10px;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
}

.filters-wrapper {
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  margin-right: 175px;
}

.catalog-filter-group:first-child {
  margin-right: 70px;
}

.control-input {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.filter-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-left: 70px;
}

.accept-button,
.accomodation-card-favorites-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v2);
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
  text-transform: none;
}

.catalog-sorter-wrapper {
  display: flex;
  margin-top: 55px;
  margin-bottom: 56px;
  padding-left: 72px;
  padding-right: 71px;
  background-color: var(--background-color);
}

.catalog-actual-filtration-quantity {
  margin: 0;
  margin-right: 191px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.button-light {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.button-light:last-child {
  margin: 0;
}

.select-control {
  margin: 0;
  padding: 0;
  margin-right: 78px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 290px;
}



/* Секция с гостиницами - catalog */

.accommodation-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.accommodation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-left: 73px;
  margin-right: 71px;
  background-color: var(--background-color);
}

.accommodation-card {
  margin: 0;
  padding: 20px;
}

.accommodation-card-link {
  text-decoration-line: none;
  color: #000000;
  background-color: var(--background-color);
}

.accomodation-card-favorites-button-selected {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v3);
  text-align: center;
}

.accommodation-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v1);
  text-align: center;
}

.accommodation-actual-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  text-align: center;
  text-transform: uppercase;
}

/* Паггинация под гостиницами - catalog */

.pagination-wrapper {
  display: flex;
  padding: 0;
  margin: 96px 71px 25px 73px;
  background-color: var(--background-color);
}

.pagination {
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 23px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-decoration: none;
}

.pagination-link:last-child {
  padding-left: 18px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.accommodation-on-page-form {
  margin-left: auto;
  align-self: center;
}

/* Секция подписки - catalog */

.subscription-catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 94px 0 94px;
  text-align: center;
  color: #000000;
  background-color: var(--background-color);
  width: 100%;
}

.subscription-title-catalog {
  margin: 0;
  margin-bottom: 29px;
  width: 404px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-subtitle-catalog {
  margin: 0;
  margin-bottom: 46px;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.index-container,
.catalog-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--background-color);
}

.main-container {
  flex-grow: 1;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  margin: 0;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --background-color: #ffffff;
  --Background-color-button-v1: #756157;
  --Background-color-button-v2: #82B3D3;
  --Background-color-button-v3:  #7DB54F;
}
