@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #E5E5E5;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  border: none;
  cursor: pointer;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-type-1:hover {
  background-color: #615048;
}

.button-type-2:hover {
  background-color: #68A2CA;
}

.button-type-3:hover {
  background-color: #6C9E42;
}

.button-type-1:active,
.button-type-2:active,
.button-type-3:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-type-1:focus {
  background-color: #615048;
}

.button-type-2:focus {
  background-color: #68A2CA;
}

.button-type-3:focus {
  background-color: #6C9E42;
}

.button-type-1:disabled,
.button-type-2:disabled,
.button-type-3:disabled,
.newsletter-button:disabled,
.accept-button:disabled {
  background-color: #E5E5E5;
}

/* Шапка - index, catalog */

.main-header {
  background-color: var(--background-color);
}

.navigation {
  display: flex;
  width: 1200px;
  min-height: 70px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  min-width: 391px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.item-favorites {
  position: relative
}

.item-favorites::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -2px;
  bottom: -2px;
  content: "12";
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  border-radius: 50%;
  color: #ffffff;
  background-color: #7DB54F;
  z-index: 2;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px 19px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: var(--background-color);
  text-decoration: none;
}

.navigation-link-current-page::before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user .navigation-link {
  padding: 0;
  min-width: 42px;
}

.navigation-user.navigation-user {
  padding-bottom: 5px;
}

.navigation-button {
  display: block;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  min-height: 37px;
  width: 160px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v1);
}

.main-header-logo {
  position: relative;
  display: block;
  margin-left: 70px;
  margin-right: 30px;
  width: 139px;
  z-index: 1;
}

/* Приветственное изображение SEDONA - index */

.welcome-picture {
  position: relative;
  display: flex;
  color: #000000;
  background-color: var(--background-color);
  background-image: url("../images/index/background-welcome.jpg");
  background-repeat: no-repeat;
  width: 1200px;
}

.welcome-picture-text {
  display: block;
  margin: 51px auto 82px;

}

.welcome-hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 63px;
  background-color: var(--background-color);
}

.welcome-hero-title {
  margin: 0;
  margin-bottom: 31px;
  width: 620px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.welcome-hero-subtitle {
  margin: 0;
  margin-bottom: 90px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.divider-pic {
  position: absolute;
  bottom: 0;
}

/* Сектор "Преимущества" - index */

.advantage-true-city,
.advantage-devils-bridge {
  display: flex;
  font-weight: 400;
  text-align: center;
}

.advantage-devils-bridge {
  flex-direction: row-reverse;
}

.advantage-devils-bridge-wrapper,
.advantage-true-city-wrapper {
  display: flex;
  flex-direction: column;
  padding: 92px 80px 0 80px;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantage-true-city-title,
.advantage-devils-bridge-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage-true-city-number,
.advantage-devils-bridge-number {
  margin: 0;
  margin-bottom: 30px;
}

.advantage-true-city-subtitle,
.advantage-devils-bridge-subtitle {
  margin: 0;
  margin-bottom: 92px;
}

.advantages-accommodation-food-souvenir-list,
.advantages-square-road-tourists-list {
  display: flex;
  justify-content: space-between;
}


.advantages-accommodation-food-souvenir-item,
.advantages-square-road-tourists-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 384px;
  padding: 0 85px;
  position: relative;
}

.accommodation-svg {
  background-repeat: no-repeat;
  position: absolute;
  top: 82px;
  right: 0;
  left: 0;
  margin: auto;
}

.food-svg {
  background-repeat: no-repeat;
  position: absolute;
  fill: #83B3D3;
  top: 81px;
  right: 0;
  left: 0;
  margin: auto;
}

.souvenir-svg {
  background-repeat: no-repeat;
  position: absolute;
  top: 79px;
  right: 0;
  left: 0;
  margin: auto;
}

.advantages-accommodation-food-souvenir,
.advantages-square-road-tourists {
  font-weight: 400;
  text-align: center;
}

.advantages-accommodation-food-souvenir-title,
.advantages-square-road-tourists-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-accommodation-food-souvenir-title {
  margin-top: 182px;
  margin-bottom: 30px;
}

.advantages-square-road-tourists-title {
  margin-top: 103px;
  margin-bottom: 30px;
}

.advantages-accommodation-food-souvenir-subtitle,
.advantages-square-road-tourists-subtitle {
  color: #333333;
  margin: 0;
  padding-bottom: 40px;
}

.advantages-square-road-tourists-number {
  margin: 0;
  margin-bottom: 30px;
}

.advantages-accommodation-food-souvenir-item:nth-child(2) {
  background-color: var(--background-color);
}

.advantages-accommodation-food-souvenir-item:first-child,
.advantages-accommodation-food-souvenir-item:last-child,
.advantages-square-road-tourists-item:first-child,
.advantages-square-road-tourists-item:last-child {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-square-road-tourists-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Сектор "Поиск гостиниц в седоне" - index */

.accommodation-search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 91px 0 93px;
  text-align: center;
  background-color: var(--background-color);
  width: 100%;
}

.accommodation-search-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.accommodation-search-subtitle {
  margin: 0;
  margin-bottom: 56px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.accommodation-search-button {
  width: 574px;
  min-height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v1);
  border-radius: 4px;
}

/* Сектор "подписка" - index */

.subscription {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 94px 0 94px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index/background-index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-subtitle {
  margin: 0;
  margin-bottom: 46px;
  padding-left: 40px;
  padding-right: 40px;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v2);
  min-width: 200px;
  border-radius: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.field {
  font-family: inherit;
  font-size: 18px;
  padding: 20px 22px 20px;
  line-height: 21px;
  font-weight: 400;
  background-color: #F2F2F2;
  border: none;
  min-width: 560px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.field:hover,
.field:focus {
  outline: none;
  box-shadow:inset 0 0 0 2px #68A2CA;
}

.field:active {
  box-shadow:inset 0 0 0 2px #000000;
}

.field:disabled {
  box-shadow:inset 0 0 0 2px rgba(0, 0, 0, 0.3);
}

/* Футтер - index, catalog*/

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-contacts-phone {
  display: block;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  background-color: var(--background-color);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
}

.social-media {
  fill: #83B3D3;
}

.social-media:hover {
  fill: #68A2CA;
}

.social-media:focus {
  fill: #68A2CA;
}

.social-media:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  width: 720px;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  padding-bottom: 8px;
  width: 115px;
}

.html-logo {
  fill: #000000;
}

.html-logo:hover {
  fill: #756157;
}

.html-logo:focus {
  fill: #756157;
}

.html-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top:64px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-booking {
  width: 575px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
}

.modal-close-cross {
  fill: #000000;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active,
.modal-close-button:active .modal-close-cross {
  background-color: #E6E6E6;
  fill: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin: 0;
  margin-bottom: 63px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.field-group,
.people-counter-form-field {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.date-from,
.date-to,
.people-counter-adult,
.people-counter-children {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.date-form-field {
  padding: 0 19px;
  background-image: url("../images/icons/modal-icon-date.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
}

.people-counter-adult {
  margin-right: 64px;
  position: relative;
}

.people-counter-children {
  padding-right: 43px;
  width: 54px;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.people-counter-button {
  position:absolute;
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.modal-counter-icon {
  display: block;
  margin: 0 auto;
  fill: rgba(0, 0, 0, 0.3);
}

.people-counter-button:hover .modal-counter-icon {
  fill: rgba(0, 0, 0, 1);
}

.people-counter-button:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #83B3D3;
}
.people-counter-button:focus .modal-counter-icon {
  fill: #000000;
}

.people-counter-button:active .modal-counter-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.minus-adults {
  bottom: 12px;
  left: 163px;
  z-index: 1;
}

.plus-adults {
  bottom: 12px;
  left: 253px;
  z-index: 1;
}

.minus-children {
  bottom: 12px;
  left: 450px;
  z-index: 1;
}

.plus-children {
  bottom: 12px;
  left: 540px;
  z-index: 1;
}

.date-form-field,
.people-counter-form-field {
  width: 382px;
  min-height: 50px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font:inherit;
  color: #000000;
  appearance: none;
}

.people-counter-form-field:nth-of-type(1) {
  margin-right: 56px;
}

.date-form-field:hover {
  background-color: #E6E6E6;
}

.date-form-field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.date-form-field:active {
  background-color: #ffffff;
  outline: 2px solid #000000;
}

.date-form-field::placeholder,
.people-counter-form-field::placeholder {
  color: #000000;
}

.people-counter-form-field::-webkit-outer-spin-button,
.people-counter-form-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.people-counter-form-field[type="number"] {
  -moz-appearance: textfield;
}

.people-counter-form-field {
  width: 133px;
  text-align: center;
}

.modal-message-warning,
.modal-message {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  width: 420px;
  margin-left: auto;
  min-height: 29px;
  align-items: flex-end;
  margin-bottom: 11px;
}

.modal-message-warning {
  color: rgba(255, 87, 87, 1);
}

.modal-search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v2);
  width: 100%;
  height: 60px;
  padding: 12px 0 12px;
  text-align: center;
  border-radius: 10px;
  margin-top: 40px;
}

.modal-search-button:hover {
  background-color: #68A2CA;
}

.modal-search-button:focus {
  outline: 3px solid #756257;
}

.modal-search-button:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}


/* tooltip */

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  top: 12px;
  right: 18px;
  display: block;
  position: absolute;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
  fill: #83B3D3;
}

.tooltip-toggle:hover .tooltip-icon {
  fill: #68A2CA;
  cursor: pointer;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  width: 216px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  top: 50px;
  left: -62px;
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content:'';
  background-image: url("../images/icons/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Секция с фильтрами - catalog */

.filters-section {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/catalog/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px;
  padding-top: 35px;
  margin-bottom: 52px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* Хлебные крошки -catalog */

.breadcrumbs.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
  color: #ffffff;
}

.breadcrumbs-link {
  display: block;
  margin-right: 10px;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.breadcrumbs-arrow-icon {
  margin-right: 10px;
}

.breadcrumbs-home-icon,
.breadcrumbs-arrow-icon {
  fill: #ffffff;
}

.breadcrumbs-home-icon:hover,
.breadcrumbs-link:hover {
  fill: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-home-icon:active,
.breadcrumbs-link:active {
  fill: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

.filters-wrapper {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 167px;
}

.catalog-filter-title {
  font-size: 20px;
  padding: 0;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Фильтры: Инфраструктура, Тип Жилья */

.control {
  position: relative;
  display: block;
  padding-left: 39px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="checkbox"]:hover + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:active + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:focus + .control-mark {
  box-shadow: 0 0 0 3px #83B3D3;
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="radio"]:checked:focus + .control-mark {
  box-shadow: 0 0 0 3px #83B3D3;
}

.control-input[type="radio"]:focus + .control-mark {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: -2px;
  left: 4px;
  content: url("../images/icons/icon-checkbox.svg");
  display: block;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
  content: "";
}

.control-input {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

/* Выбор цены */

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 32px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  width: 287px;
  margin-top: 4px;
}

.catalog-filter-label {
  display: flex;
  height: 48px;
  position: relative;
}

.range-input {
  width: 100%;
  padding: 0;
  font: inherit;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.input-left{
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 1px solid #ffffff;
  padding-left: 19px;
  padding-right: 19px;
  background-image: url("../images/icons/icon-price-from.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
}

.input-right{
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-left: 1px solid #ffffff;
  padding-left: 17px;
  padding-right: 17px;
  background-image: url("../images/icons/icon-price-to.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
}

.range-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.input-left:focus,
.input-right:focus {
  outline: 3px solid #81B3D2;
  box-shadow: 0 0 0 3px #81B3D2 inset;
}

.range-input:active {
  background-color: #756257;
  box-shadow: none;
  outline: none;
  border: 2px solid #ffffff;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input[type="number"] {
  -moz-appearance: textfield;
}

/* Кнопки в фильтрах */

.filter-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: flex-end;
}

.accept-button {
  min-width: 160px;
  padding: 14px 15px;
  margin-bottom: 15px;
}

.accept-button,
.accomodation-card-favorites-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v2);
}

.reset-button {
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  width: 100px;
  height: 32px;
  color: #ffffff;
  background-color: transparent;
  text-transform: none;
}

.reset-button:hover {
  color: rgba(255, 255, 255, 0.6)
}

.reset-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3 inset;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-sorter-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 56px;
  padding-left: 72px;
  padding-right: 71px;
  background-color: var(--background-color);
}

.catalog-actual-filtration-quantity {
  display: flex;
  align-items: center;
  width: 500px;
  justify-content: flex-start;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.actual-toggle {
  border: 2px solid #000000;
}

.card-grid-toggle:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.card-grid-toggle:hover {
  border: 2px solid #000000;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
}

.card-grid-toggle:last-child {
  margin: 0;
}

.select-control {
  margin-right: 78px;
  padding-left: 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 290px;
  height: 48px;
  border: 2px solid #E5E5E5;
  background-color: #ffffff;
  border-radius: 4px;
  background-image: url("../images/icons/icon-arrow-downward.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  cursor: pointer;
}

.select-control:hover,
.select-control:focus {
  outline: none;
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid rgba(63, 94, 114, 1);
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-image: url("../images/icons/icon-arrow-downward-opacity3.svg");
}

/* Секция с гостиницами - catalog */

.accommodation-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  justify-content: center;
  background-color: var(--background-color);
}

.accommodation-reset-margin.accommodation-reset-margin {
  margin-bottom: 96px;
}

.accommodation-card {
  display: grid;
  padding: 20px;
  grid-template-columns: 140px 140px;
  grid-template-rows: min-content min-content min-content min-content;
  column-gap: 20px;
  row-gap: 16px;
  background-color: var(--background-color);
}

.acommodation-card-image {
  object-fit: contain;
  max-width: 100%;
}

.acommodation-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  background-color: var(--background-color);
}

.acommodation-card-type {
  color: #333333;
}

.accommodation-card-price {
  color: #333333;
}

.accommodation-card-link {
  display: grid;
  row-gap: 16px;
  grid-column: 1/-1;
  text-decoration-line: none;
}

.accomodation-card-favorites-button-selected {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v3);
  text-align: center;
  min-height: 37px;
}

.accommodation-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--Background-color-button-v1);
  min-height: 37px;
}

.rating-area-two {
  background-image: url("../images/icons/icon-star.svg");
  width: 42px;
  height: 17px;
  background-repeat: space;
  margin-top: 10px;
}

.rating-area-three {
  background-image: url("../images/icons/icon-star.svg");
  width: 66px;
  height: 17px;
  background-repeat: space;
  margin-top: 10px;
}

.rating-area-four {
  background-image: url("../images/icons/icon-star.svg");
  width: 88px;
  height: 17px;
  background-repeat: space;
  margin-top: 10px;
}

.accommodation-actual-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  text-transform: uppercase;
  min-height: 37px;
  border-radius: 4px;
}

/* Паггинация под гостиницами - catalog */

.pagination-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 73px;
  margin-right: 71px;
  margin-bottom: 25px;
  background-color: var(--background-color);
}

.pagination-wrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  top: -30px;
  border-top: 1px solid #E6E6E6;
}

.pagination {
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  padding: 11px 23px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link:last-child {
  padding-left: 18px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.accommodation-form-label {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.accommodation-on-page-select {
  width: 160px;
  height: 52px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding-left: 20px;
  margin-left: 50px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: url("../images/icons/icon-arrow-downward.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  cursor: pointer;
}

.accommodation-on-page-select:hover,
.accommodation-on-page-select:focus {
  outline: none;
  border: 2px solid #68A2CA;
}

.accommodation-on-page-select:active {
  border: 2px solid rgba(63, 94, 114, 1);
}

.accommodation-on-page-select:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-image: url("../images/icons/icon-arrow-downward-opacity3.svg");
}

/* Секция подписки - catalog */

.subscription-catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 94px 0 94px;
  text-align: center;
  color: #000000;
  background-color: var(--background-color);
  width: 100%;
}

.subscription-title-catalog {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-subtitle-catalog {
  margin: 0;
  margin-bottom: 46px;
  padding-left: 40px;
  padding-right: 40px;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.index-container,
.catalog-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--background-color);
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
}

.main-container {
  flex-grow: 1;
  position: relative;
  top: -5px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  margin: 0;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --background-color: #ffffff;
  --Background-color-button-v1: #756157;
  --Background-color-button-v2: #82B3D3;
  --Background-color-button-v3: #7DB54F;
}
